// Fonts
$mainFont: 'Poppins', sans-serif;
$secondFont: Verdana, Geneva, Tahoma, sans-serif;

// Media Queries Sizes
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopPlus: 1200px;
$desktopXL: 1920px;

// Colors
$main: #66FCF1;
$second: #45A29E; 
$black: #242424;
$white: #FFFFFF;
$lightGrey: #C5C6C7;

$bgBlack: #1F2833;